@media(max-width: 1024px){
    .container{
        padding: 0 1rem;
    }
    .swiper{
        height: 90vh;
    }
    .img-overlay p{
        letter-spacing: 6px;
    }
    .img-overlay h2{
        font-size: 3rem;
        letter-spacing: 4px; 
    }
    .headings{
        font-size: 2rem;
    } 
}

@media(max-width: 900px){
    .btn{
        display: block;
    }
    nav ul{
        
        flex-direction: column;
        position: fixed;
        width: 100%;
        height: 400px;
        background: var(--primary-color);
        top: -600px;
        left: 0;
        padding: 3rem 1rem;
        transition: all 0.5s ease-in;

    }

    nav ul li a{
        display: block;
        margin: 15px;
    }
    .close-btn{
        position: absolute;
        top: 0rem;
        right: 0;
        margin: 25px;
    }
    nav ul.display{
        top: 0;
        transition: all 0.5s ease-in-out;
    }
    nav ul li::before{
        top: 45px;
        left: 15px;
    
    }
    nav ul li:hover::before{
        width: 20%;
    }
    /*slider*/
    .swiper{
        height: 100vh;
    }
    .img-overlay p{
        letter-spacing: 4px;
    }
    .img-overlay h2{
        font-size: 2.5rem;
        letter-spacing: 4px; 
    } 
    /*about*/
    .about-content-wrapper{
        grid-template-columns: repeat(1,1fr);
        
    } 
    .agency-right .img img{
        width: 90%;
    }

    /*popular tours*/
    .choose-wrapper{
        grid-template-columns: 2fr 1fr;
        
    }
    .row-wise-img{
        
        grid-template-columns: repeat(3,1fr);
        
    }
    .img-content{
        bottom: 10px;
    }
    /*static counter*/
    .static-wraper{
        grid-template-columns: repeat(2,1fr);
    }
    /*video*/
    #videoPlayer{
        padding: 2rem 0;
        position: relative;
    }
    /*travel blog*/
    .blog-img-content{
        bottom: 10px;
    
    }
    /*footer*/
    .footer-content{
        grid-template-columns: repeat(2,1fr);
    }
    .footer-wraper{
        grid-template-columns: repeat(2,1fr);
    }
     
}

@media(max-width: 645px){
    html{
        font-size: 14px;
    }
    .footer-content{
        grid-template-columns: repeat(1,1fr);
    }
    .footer-wraper{ 
        grid-template-columns: repeat(1,1fr);
    }
}