@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300&family=Open+Sans:wght@400;600&family=Poppins:wght@400;500;600&family=Ubuntu:wght@400;500;700&display=swap');

:root{
    --primary-color: #092532;
    --white-color: #ffffff;
    --light-green-color: #C7E2B2;
    --secondary-color: #4CA1A3;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "poppins",sans-serif;
}
html{
    font-size: 16px;
}
/* utility classes begins */

.container{
    max-width: 1440px;
    margin: 0 auto; 
    padding: 0 2rem;
    width: 100%;
}
img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
a{
    text-decoration: none;
}
.heading-normal-txt{
    font-size: 1rem;
    letter-spacing: 6px;
    color: var(--primary-color);
}
.headings{
    font-size: 3rem;
    font-family: "ubuntu";
    padding-bottom: 2rem;
    letter-spacing: 2px;
}
.headings span{
    color: var(--primary-color);
}

.lead{
    font-size: 1rem;
    line-height: 2;
    text-align: justify;
}
.primary-btn{
    width: 15%;
    outline: none;
    background-color: var(--primary-color);
    border: none;
    padding: 0.7rem;
    font-size: 1rem;
    border-radius: 4px;
    color: var(--white-color);
    cursor: pointer;

}
/* utility classes ends */

/*header starts*/
header{
    padding: 1rem 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 6;
    width: 100%;
    height: 100;
    background: var(--primary-color) ;
    transition: all 0.3s ease-in-out;
}

.logo a{
    font-size: large;
    color: var(--white-color);
    
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul{
    list-style-type: none;
    display: flex;
}
nav ul li{
    margin: 0 0.9rem;
    position: relative;
}
nav ul li a{
    color: var(--white-color);
    font-size: 1rem;
}
nav ul li::before{
    content: "";
    position: absolute;
    top: 30px;
    left: 0;
    width: 0;
    height: 3px;
    background: var(--white-color);
    opacity: 0;
    transition: all 0.3 ease-in;

}
nav ul li:hover::before{
    opacity: 1;
    width: 100%;
}

.btn{
    font-size: 1rem;
    color: var(--white-color);
    cursor: pointer;
    display: none;
    background-color: var(--primary-color);
}
/*header ends*/

/*showcase starts*/

main{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    

}
.swiper{
    height: 100vh;
}
.slide-container{
    width: 100%;
    
}
.slide-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}
.img-overlay{
    position: absolute;
    z-index: 5;
    left: 50%;
    top: 50%;
    text-align: center;
    width: 100%;   
    font-family: "ubuntu";
    transform: translate(-50%,-50%);
    
}
.img-overlay p{
    font-size: 1rem;
    letter-spacing: 8px;
    color: var(--white-color);
    animation: animate 4s forwards;

}
.img-overlay h2{
    font-size: 5rem;
    color: var(--white-color);
    text-transform: uppercase;
    letter-spacing: 8px; 
    animation: animate 4s forwards;
    transition: all 0.5s ease-in;
}
.overlay{
    position: relative;
}
.overlay::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
    
} 
@keyframes animate{
    0%{
        transform: translateX(-50%);
        opacity: 0;
    }
    50%{
        opacity: 0.2;

    }
    70%{
        opacity: 0.5;
        transform: translateX(0%)
    }
    80%{
        opacity: 0.5;
        transform: translateX(0%);

    }
}


/*showcase ends*/

/*about starts*/
.about-content-wrapper{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-column-gap: 3rem;
    margin: 3rem 0;
} 

.about-content-wrapper h2 span{
    color: var(--primary-color);
    font-family: "ubuntu";
}
.about-content-wrapper ul{
    list-style-type: none;
}
.about-content-wrapper ul .icons{
    display: flex;
    align-items: center;
    margin: 1rem 0;

}
.about-content-wrapper ul .icons i{
    background-color: var(--primary-color);
    padding: 0.8rem;
    border-radius: 50%;
    color: var(--white-color);

}
.about-content-wrapper ul p{
    margin-left: 1rem;

}
.agency-right .img{
    position: relative;
}
.agency-right .img img{
    width: 75%;
    height: 100%;
    object-fit: cover;
    margin: 0 auto;
    display: block;
}
/*about ends*/

/*popular tour starts*/
#choose-place{
    padding: 6rem;

}
.choose-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
}
.lg-img{
    position: relative;
    transition: all 0.5s;
    cursor: pointer;
    width: 100%;
    height: 95%;

}
.lg-img:hover::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);

}
.lg-img:hover{
    transform: scale(1.02);
}
.img-content{
    position: absolute;
    bottom: 20px;
}
.img-content h2{
    padding: 0 2rem;
    color: var(--white-color);
}

.hidden-content{
    padding: 0.5 2rem;
    color: var(--white-color);
    transform: translateY(120%);
    transition: all 0.3s ease-in-out ;
}
.lg-img:hover .hidden-content{
    transform: translateY(0%);
}

.price-label{
    background-color: var(--primary-color);
    color: var(--white-color);
    padding: 0.5rem 1rem;
    position: absolute;
    top: 50px;
    right: 0;
}
.row-wise-img{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 2rem;
}
/*popular tour ends*/

/*static counter starts*/
#static-counter{
    padding: 6rem 0;
    background-image: url("static counter.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    color: var(--white-color);
}
#static-counter::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    z-index: -1;
}
.static-wraper{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 2rem;
    text-align: center;
    align-items: center;
    height: 100%;
    padding: 2rem 0;

}
.static-icons i{
    font-size: 3rem;
    padding: 2rem;
    border-radius: 50%;
    border: 2px dotted var(--light-green-color);
    cursor: pointer;
    
}
.number{
    font-size: 2.5rem;
    font-weight: 400;
    margin-top: 1rem;
}
.static-icons i:hover{
    background-color: var(--light-green-color);
    border: none;

}
/*static counter ends*/

/*video starts*/
#videoPlayer{
    padding: 6rem 0;
    position: relative;
}
#videoPlayer video{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-height: 650px;
}


.video-bg::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

}
/*video ends*/

/*booking starts*/
#booking .book-form{
    padding: 2rem;
}
#booking .book-form .flex{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}
#booking .book-form .flex .inputBox{
    flex: 1 1 41rem;

}
#booking .book-form .flex .inputBox input{
   width: 100%;
   padding: 1.2rem 1.4rem;
   font-size: 1.6rem;
   color: var(--primary-color);
   text-transform: none;
   margin-top: 1.5rem;
   border: 3px dashed var(--secondary-color);
    
}
#booking .book-form .flex .inputBox label{
    font-weight: bold;
    color: var(--primary-color);
}
.submit{
    padding: 0.8rem;
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--light-green-color);
    background-color: var(--primary-color);
    text-align: center;
}
/* booking ends*/

/*travel blog starts*/
#travel-blog{
    background-color: var(--light-green-color);
    padding: 6rem 0;
}
.blog h2{
    color: var(--secondary-color);
}
.blog{
    position: relative;
}
.blog:hover::before{
    content:"";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.5);
    cursor: pointer;

}
.blog-img-overlay{
    width: 100%;
}
.blog-img-content{
    position: absolute;
    bottom: 20px;
    object-fit: cover;

}
.blog-img-content{
    background: rgba(0,0,0,0.5);
    width:100%;
    padding: 2rem 1rem;
    transition: all 0.5s;
    color: var(--white-color);

}
.blog:hover .blog-img-content{
    transform: translateY(50%);

}
.blog .price-label{
    transform: rotate(0deg);
}
/*travel blog ends*/

/*footer starts*/
#footer{
    padding: 3rem 0;
    background: var(--primary-color);
}
.footer-content{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    border: 1px solid var(--white-color);
}
.ft-content{
    display: flex;
    align-items: center;
    padding: 0.5rem;
    color: var(--white-color);

}
.icon i{
    padding: 1rem;
    font-size: 3rem;
    background: var(--secondary-color);
}
.content{
    padding: 1rem;
}

.footer-wrapper{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding: 2rem 0;;
    grid-gap: 2rem;
    color: var(--white-color);
    margin: 4rem 0;
}
.follow a {
    color: var(--white-color);
    font-size: larger;

}
.social-icons{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.social-icons i{
    background-color: var(--primary-color);
    color: var(--white-color);
    padding: 0.5rem;
    font-size: 1rem;
    margin: 1rem 0;
    border-radius: 50%;
    cursor: pointer;
}
.follow .lead{
    font-size: 1rem;
    margin-top: 1rem;

}
.links ul{
    list-style-type: none;
}
.links ul li{
    margin: 1rem;
    font-size: 1rem;

}
.links ul li a{
    color: var(--white-color);
}

.copyrights{
    border-top: 1px solid var(--secondary-color);

}
.copyrights p{
    text-align: center;
    padding: 1rem 0;
    color: var(--white-color);
}

